<h1>Wszystkie artykuły</h1>
  
  <ul id="articles">
    <% @articles.each do |article| %>
      <li>
        <%= link_to article.title, article_path(article) %>
      </li>
    <% end %>
  </ul>
<br>
  <%= link_to "Utwórz nowy artykuł", new_article_path, class: "new_article" %>